<html>

<head>
    <title></title>
    {{!-- <link href="css/landing-page.min.css" rel="stylesheet"> --}}
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <p>
            <a href="/">Return to Home</a> |
            <a href="/registermember">Register A New Member</a> |
            <a href="/addvisitor">Register A New Visitor</a> |
            <a href="/adminboard">Return to Admin Board</a>
        </p>
        <h1>{{title}}</h1>

        {{!-- {{#each visitors}} --}}
        {{!-- <p>
            <li><a href="/recordDonation?first_name={{firstname}}&last_name={{lastname}}&mid={{_id}}">{{firstname}}
                    {{lastname}}</a>
            </li>
        </p> --}}
        {{!-- <ul class="list-group" style="width: 30em">
            <li class="list-group-item"><a href="/visitorProfile/{{_id}}">{{firstname}}
                    {{lastname}}</a>
            </li>
        </ul>
        {{/each}} --}}

        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
            </thead>

            {{#each visitors}}
            <tbody>
                <tr>
                    <th scope="row">{{inc @index}}</th>
                    <td><a href="/visitorProfile/{{_id}}">{{firstname}}</a></td>
                    <td><a href="/visitorProfile/{{_id}}">{{lastname}}</td>
                </tr>
            </tbody>
            {{/each}}
        </table>

    </div>
</body>

</html>